@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}

body{
  font-family: Montserrat;
  padding: 0;
  margin: 0;
}

header{  
  flex-grow: 0;
  flex-shrink: 0;
  background: rgba(20, 63, 131, 1) 100%;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      text-align: center;
    }
    li {
      display: inline;
    }
    a {
      display: inline-block;
      padding: 0.5em 1.5em;
    }
    font-size: 16px;
    a:visited,
    a:link {
      color: #ffffff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .main-header {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    padding-right: 10px;
  }

  .nav-menu {
    position: fixed;
    left: -110%;
    top: 1.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    .nav-item {
      a:visited,
      a:link {
        color: rgba(20, 63, 131, 1);
      }
    }
  }

  .nav-menu.active {
    left: 0;
    margin: 16px 0;
    padding:0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
