html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper{
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  width: 80%;
  margin: 0px 10%;
}

.banner{
  position: relative;
  text-align: center;
  color: white;
  margin: 10px;

  img{
    border-radius: 2rem;
    width: 80%;
  }

  .advertisement{
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: rgba(20, 63, 131, 0.5);
    border-radius: 1rem;

    span{
      color: #fff;
    }
  }
}

.more_button{
  background-color: #fff;
  color: rgba(20, 63, 131);
  border-radius: 1rem;
  margin: 10px;
  padding: 5px 10px; 
}

.more_button:visited,
.more_button:link {
  color: rgba(20, 63, 131);
  text-decoration: none;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.more_button:hover{
	animation: bounce 1s;
}

.about_department{
  display: flex;
  flex-direction: row;
  background-color: rgba(20, 63, 131);
  color: #fff;
  padding: 10px 10%;

  .about_department_content{
    h3{
      text-align: center;
    }

    a{
      text-align: center;
    }
  }
  img{
    margin: 5%;
    width: 40vw;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .container{
    margin: 0 5%;
    width: 90%;

    .banner{
      img{
        border-radius: 2rem;
        width: 100%;
        left: auto;
      }
      .advertisement{
        left: 5%;
        background: rgba(20, 63, 131, 0.7);
      }
    }
  }

  .about_department{
    display: flex;
    flex-direction: column;

    img{
      width: 100%;
      border-radius: 1rem;
    }
  }
}