.main-content {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.left-content {
  flex: 1;
  padding: 20px; /* Отступ слева */
}

.application-component {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

.application-component h2 {
  font-weight: bold;
  font-size: 24px;
}

.application-component p {
  font-size: 16px;
  margin-bottom: 20px;
}

.apply-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.apply-button:hover {
  background-color: #005aa5;
}

.right-content {
  padding: 20px; /* Отступ справа */
  display: flex;
  flex-direction: column;
}

.right-content a {
  margin-bottom: 10px;
  background-color: #0074cc;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.right-content a:hover {
  background-color: #005aa5;
}

.content-component {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  margin: 20px 0;
}

.centered-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.content {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}

.read-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0074cc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-right: 20px;
}

.read-more-button:hover {
  background-color: #005aa5;
}

.fixed-size-image {
  width: 200px; /* Задайте желаемый размер изображения */
  height: auto;
}