.find-us {
  &__container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  &__header {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__frame {
    width: 926px;
    height:600px;
  }

}

@media only screen and (max-width: 768px) {

  .find-us {
    &__container {
      grid-template-columns: 1fr;
    }

    &__text {
      grid-row: 1/2;
    }
  }



}