.find-us {
  &__container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  &__header {
    font-size: 22px;
    margin: 10px;
    text-align: center;
  }

  &__text {
    margin: 0px 10px;
  }

  &__frame {
    padding-left: 20px;
    width: 60vw;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .find-us {
    &__container {
      grid-template-columns: 1fr;
    }

    &__frame {
      padding-left: 0px;
      width: 90vw;
      height: 60vh;
    }

    &__map {
      text-align: center;
    }

    &__text {
      grid-row: 1/2;
    }
  }
}
