.graduation-container{
    display: flex;
    flex-direction: column;

    h3{
        text-align: center;
        margin-bottom: 10px;
    }

    .graduates-person{
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        color: #fff;
        background-color: rgba(20, 63, 131);

        .graduates-img img{
            width: 300px;
            height: auto;
        }

        .graduates-content{
            margin-left: 10px;

            .graduates-fullname{
                margin-bottom: 10px;
            }

            .graduates-group{
                margin-bottom: 10px;
            }

            .graduates-info{
                margin-bottom: 10px;
            }
        }
    }

    .graduates-person:nth-of-type(odd) {
        background-color: #fff;
        color: rgba(20, 63, 131);
    }
}

@media only screen and (max-width: 900px) {
    .graduation-container{
        .graduates-person{
            display: flex;
            flex-direction: column;

            .graduates-img{
                justify-content: center;
                text-align: center;

                img{
                    height: 50vh;
                    width: auto;
                }
            }
        }
    }
}