.filter {


    &s_container {
        display: flex;
        flex-direction: column;
    }


    &s-selection {
        display: flex;
        flex-direction: row;

        &__button {
            cursor: pointer;
            
            display: inline-block;
            padding: 0.5em 1.5em;
            font-size: 16px;
            color: #ffffff;
            text-decoration: none;
            background: rgba(20, 63, 131, 1) 100%;
        }

        &__button:hover, &__button:focus {
            text-decoration: underline;
        }
    }

    &-categories, &-popular-posts, &-tags {
        align-self: center;
    }

    &-popular-post {
        display: grid;
        grid-template-columns: auto 0.5fr;
        
        &__text {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__count {
            grid-column-start: 2;
            grid-column-end: 3;
            width: 50px;
            justify-self: right;
        }
    }

    &-tag {
        display: grid;
        grid-template-columns: 10px auto;
        column-gap: 10px;
        

        &__count {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &__text {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }
        
    &-category, &-popular-post, &-tag {
        &__text, &__count {
            cursor: pointer;
            font-size: 12px;
        }
    }

}