node_modules

server/*
!server/wp-content
server/wp-content/languages
server/wp-content/themes/twentytwentyone
server/wp-content/themes/twentytwentytwo
server/wp-content/themes/twentytwentythree
server/wp-content/themes/twentytwentyfour
server/wp-content/plugins
server/wp-content/updraft
server/wp-content/uploads/wpcode
!Dockerfile
!composer.json
composer.lock
server/composer.lock

frontend/dist
frontend/css
server/wp-content/ai1wm-backups/*.wpress
server/wp-content/plugins/hello.php