.entrant-container {
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    color: rgba(20, 63, 131);
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    margin: 10px 20px;

    &__about {
      h2 {
        text-align: center;
        color: black;
        margin-bottom: 10px;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 900px) {
  .entrant-container {
    &-content {
      display: flex;
      flex-direction: column;
      margin: 10px 20px;

      &__links {
        order: -1;
        width: 100%;
      }
    }
  }
}

.entrant-btn {
  color: #fff;
  background-color: rgba(20, 63, 131);
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
  width: 90%;
  margin-top: 10px;
}

.entrant-btn:hover {
  animation: bounce 1s;
}

.entrant-btn:visited,
.entrant-btn:link {
  color: #fff;
  text-decoration: none;
}
