.graduate {
  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 5%;

    h1 {
      align-self: center;
      margin-top: 10px;
      margin-bottom: 10px;

      color: #143f83;
    }
  }

  &-person {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;

    &__image {
      order: 1;
      img {
        width: 300px;
        height: auto;
        border-radius: 10px;
      }
    }

    &-content {
      margin: 0px 10px;
      font-size: 20px;
      &-group,
      &-info {
        margin-bottom: 10px;
      }

      &-info {
        font-size: 14px;
      }

      &-name {
        color: #143f83;
      }

      &-response {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }

  &-person:nth-of-type(odd) {
    background-color: #fff;
    color: black;

    .graduate-person__image {
      order: 0;
    }
  }
}

@media only screen and (max-width: 900px) {
  .graduate {
    &-person {
      display: flex;
      flex-direction: column;

      &__image {
        align-self: center;
        order: 0;

        img {
          align-self: center;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .graduate {
    &-person {
      &-content-info {
        font-size: 5vw;
        padding: 0px 0px 10px 0px;
        margin: 0px;
      }
    }
  }
}
