html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.default-btn {
  background-color: #fff;
  color: rgba(20, 63, 131);
  border-radius: 1rem;
  margin: 10px;
  padding: 5px 10px;
  height: 30px;
  line-height: 30px;
}

.default-btn:hover {
  animation: bounce 1s;
}

.default-btn:visited,
.default-btn:link {
  color: rgba(20, 63, 131);
  text-decoration: none;
}

.about-specialties {
  text-align: center;
  margin-bottom: 30px;

  &__title {
    font-size: 20px;
    color: rgba(20, 63, 131);
  }
  &-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    // flex-direction: row;
    margin: 10px 2.5%;

    &__link {
      width: 100%;
      text-align: center;
      img {
        align-self: center;
        border-radius: 2rem;
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: center;
      }
    }

    &__link:visited,
    &__link:link {
      color: rgba(20, 63, 131);
      text-decoration: none;
      width: 100%;
      p {
        font-size: 20px;
      }
    }
  }
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.wrapper {
  box-sizing: border-box;
  max-width: 100%;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 0px;
  flex-grow: 1;
  width: 100%;
}

.banner {
  position: relative;
  text-align: center;
  color: white;

  margin-bottom: 30px;

  img {
    align-self: center;
    border-radius: 2rem;
    width: 95vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
  }

  .advertisement {
    position: absolute;
    bottom: 8px;
    left: 5%;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;

    &__text {
      color: #fff;
      width: 100%;
      text-align: center;
      margin: 16px auto;
    }
  }
}

.about_department {
  background-color: #143f83;
  display: flex;
  flex-direction: row;
  color: #fff;
  justify-content: center;

  &__content {
    margin: 10px 10px;
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
  }

  &__image {
    flex: 1 2 400px;
    height: 300px;
    border-radius: 3rem;
    padding: 10px;
  }

  &__text {
    margin-top: 20px;
    flex-grow: 1;
  }

  &__btn {
    width: 310px;
    text-align: center;
    align-self: bottom;
    margin: 10px auto;
  }
}

.graduate__header {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
  .about-specialties {
    &-links {
      display: flex;
      flex-direction: column;
    }
  }
  .container {
    margin: 0 0%;
    width: 100%;

    .banner {
      margin-top: 10px;
      img {
        border-radius: 2rem;
        width: 100%;
        left: auto;
      }
      .advertisement {
        left: 5%;
        background: rgba(20, 63, 131, 0.7);
      }
    }
  }

  .about_department {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    &__content {
      text-align: center;
      justify-content: center;
    }

    &__text {
      text-align: justify;
      margin: 10px 10px;
    }

    img {
      object-fit: cover;
      margin: 0px auto;
      width: 90vw;
      border-radius: 1rem;
    }
  }
}
