.post {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  margin-top: 5px;

  &s__container {
    display: flex;

    justify-content: center;
  }

  &-speck {
    display: flex;
  }

  &-level,
  &-time-to-read,
  &-views,
  &-counts {
    display: flex;

    &__image {
      max-width: 16px;
      max-height: 16px;
    }

    &__text {
      margin-right: 20px;
      font-size: x-small;
    }
  }

  &-tags {
    display: flex;

    flex-direction: row;

    &__text {
      margin-left: 10px;
      font-size: 12px;
    }
  }

  &-short-text {
    margin-bottom: 10px;
  }

  &-read-more {
    &__button {
      cursor: pointer;

      display: inline-block;
      padding: 0.5em 1.5em;
      font-size: 16px;
      color: #ffffff;
      text-decoration: none;
      background: rgba(20, 63, 131, 1) 100%;
    }

    &__button:hover,
    &__button:focus {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 1150px) {
  .post {
    &-title {
      flex-direction: column;
    }

    &-image {
      order: -1;
    }

    &s__container {
      .filters {
        display: none;
      }
    }
  }
}
