@use "colors";

.post {
  display: flex;
  width: 100%;
  font-family: Montserrat;

  &__container {
    display: flex;

    justify-content: center;

    margin: 15px 5%;
  }

  &-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &-title {
    display: inline-block;
  }

  &-name {
    color: colors.$title-color;
  }

  &-author-date {
    display: flex;
  }

  &-author,
  &-date {
    &__text {
      font-size: small;
      margin-right: 10px;
    }
  }

  &-author {
    color: colors.$text-color;
  }

  &-date {
    color: colors.$gray;
  }

  &-tags {
    ul {
      display: flex;
      list-style-position: inside;
      list-style: none;

      li:before {
        content: "#";
        padding-right: 5px;
      }

      li {
        margin-right: 10px;
        color: colors.$text-color;
      }
    }
  }

  &__content {
    width: 100%;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    font-family: Montserrat;
  }
}

@media only screen and (max-width: 1500px) {
  .post {
    display: flex;

    &__container {
      display: flex;

      justify-content: center;

      margin: 15px 5%;
    }
  }
}

@media only screen and (max-width: 900px) {
  .post {
    display: flex;

    &__content {
      display: flex;
      flex-direction: column;
    }

    &-tags {
      ul {
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .post {
    display: flex;
    width: 100%;
    font-family: Montserrat;

    &__container {
      display: flex;

      justify-content: center;

      margin: 15px 5%;
    }

    &-title {
      display: inline-block;
    }

    &-name {
      color: colors.$title-color;
      font-size: 5vw;
    }

    &-author-date {
      font-size: 5vw;
    }

    &-author {
      p {
        font-size: 5vw;
      }
    }

    &-date {
      p {
        font-size: 5vw;
      }
    }

    &__content {
      font-size: 5vw;
    }

    &-tags {
      font-size: 5vw;
    }
  }
}
