.teacher {
  &-wrapper {
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px auto;
    max-width: 1200px;

    h1 {
      align-self: center;
      justify-content: center;
      margin: 10px;

      color: #143f83;
    }
  }

  &-person {
    display: flex;
    flex-direction: row;
    color: black;
    a {
      color: black;
    }
    padding: 10px 10px;

    &__image {
      margin: 0px 10px;
      order: 1;
      img {
        width: 200px;
        height: auto;
        border-radius: 10px;
      }
    }

    &-content {
      width: 100%;
      &-tituls,
      &-info {
        margin-bottom: 10px;
      }

      &-tituls {
        color: #143f83;
      }

      &-info {
        p {
          margin: 10px 0px;
        }

        ul {
          margin: 0px 20px;
          list-style-position: inside;
          list-style: none;

          li::before {
            content: "— ";
          }
        }
      }

      &-name {
        &__text {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
        }
        &__text:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-person:nth-of-type(odd) {
    margin-right: auto;
    justify-content: left;

    .teacher-person__image {
      order: 0;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .teacher-person-content {
    width: 60%;
  }
}

@media only screen and (max-width: 1300px) {
  .teacher-person-content {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .teacher {
    &__container {
      h1 {
        font-size: 5vw;
      }
    }
    &-person:first-of-type {
      margin: 10px;
    }
    &-person:nth-of-type(odd) {
      margin: 10px;
    }
    &-person {
      display: flex;
      flex-direction: column;
      padding: 0px;
      margin: 10px;

      &__image {
        align-self: center;
        order: 0;
        padding: 0px;
        width: 100%;
        text-align: center;
        margin: 0px;

        img {
          align-self: center;
          width: 80vw;
          height: auto;
        }
      }

      &-content {
        font-size: 5vw;

        &-name__text {
          font-size: 5vw;
        }
      }
    }
  }
}
