.teacher {
  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;

    h1 {
      align-self: center;
      justify-content: center;
      margin: 40px 10px 10px 10px;

      color: #143f83;
    }
  }

  &-person {
    display: flex;
    flex-direction: row;
    color: black;
    a {
      color: black;
    }
    padding: 10px 10px;
    justify-content: center;

    &__image {
      margin: 0px 10px;
      order: 1;
      img {
        width: 200px;
        height: auto;
        border-radius: 10px;
      }
    }

    &-content {
      width: 40%;
      &-tituls,
      &-info {
        margin-bottom: 10px;
      }

      &-tituls {
        color: #143f83;
      }

      &-info {
        p {
          margin: 10px 0px;
        }

        ul {
          margin: 0px 20px;
          list-style-position: inside;
          list-style: none;

          li::before {
            content: "— ";
          }
        }
      }

      &-name {
        &__text {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
          font-weight: bold;
        }
        &__text:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-person:nth-of-type(odd) {
    margin-right: auto;

    .teacher-person__image {
      order: 0;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .teacher-person-content {
    width: 60%;
  }
}

@media only screen and (max-width: 1300px) {
  .teacher-person-content {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .teacher {
    &-person {
      display: flex;
      flex-direction: column;

      &__image {
        align-self: center;
        order: 0;

        img {
          align-self: center;
          width: 300px;
          height: auto;
        }
      }
    }
  }
}
