.teacher-page-container {
  display: flex;
  flex-direction: column;
  margin: 10px 5%;

  .teacher-page-img {
    float: left;
    img {
      width: 300px;
      height: auto;
      border-radius: 20px;
      margin: 0px 10px 10px 0px;
    }
  }

  .teacher-page-title {
    margin-bottom: 10px;
    p {
      color: rgba(20, 63, 131, 1);
    }
  }

  .teacher-page-title-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .teacher-page-title-button {
      color: #fff;
      background-color: rgba(20, 63, 131, 1);
      padding: 10px 20px;
      text-align: center;
      width: 150px;
    }

    .teacher-page-title-button:hover {
      background-color: rgb(6, 33, 77);
    }
  }

  .teacher-page-about {
    p {
      margin-bottom: 5px;
    }
  }

  .teachers-page-published {
    margin-left: 20px;

    h2 {
      text-align: center;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    ol li {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .teacher-page-container {
    display: flex;
    flex-direction: column;

    .teacher-page-title-info {
      display: flex;
      flex-direction: column;
    }

    .teacher-page-img {
      text-align: center;
      img {
        text-align: center;
        width: 80vw;
        height: auto;
      }
    }
  }
}
